* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(250deg 18.75% 6.27%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(129.18deg 72.65% 77.06%);
    background-color: transparent;
    cursor: pointer;
    accent-color: hsl(129.18deg 72.65% 77.06%);
}

input[type="checkbox"]:checked {
    border: none;
}

input[type="checkbox"]::before {
  content: "✔";
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 25px;
  background-color: transparent;
  margin: auto;
  transition: background-color 0.2s ease;
}

/* Muestra la checkmark cuando este seleccionada*/
input[type="checkbox"]:checked::before {
  background-color: hsl(129.18deg 72.65% 77.06%); 
  display: block;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h1 {
    text-align: center;
    color: hsl(249.23deg 5.14% 49.61%);
    font-size: 18px;
}

.texto-sombreado {
    color: hsl(247.5deg 4.71% 33.33%);
    font-weight: bold;
    width: 100%;
}

.contenedor-password, .contenedor-opciones {
    background-color: hsl(247.5deg 10.26% 15.29%);
}

.contenedor-password {
    padding: 1.5rem;
}

.password {
    font-size: 20px;
}


.cantidad-caracteres {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.5rem;
}

.cantidad-caracteres p {
    color: hsl(129.18deg 72.65% 77.06%);
    font-size: 25px;
    font-weight: bold;
}

.contenedor-opciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}


.input-scroll {
    width: 100%;
    margin-bottom: 1rem;
    accent-color: hsl(129.18deg 72.65% 77.06%);
}


.input-scroll {
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd; 
  accent-color: #fff;
  border-radius: 5px;
  outline: none;
}

.input-scroll:hover {
    accent-color: #000;
}


.contenedor-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-checkboxes label {
    margin-left: 10px;
}